.places-card {}

.place-card--cities {
  width: 260px;
  margin-left: 8px;
  margin-bottom: 24px
}

.places-card--favorites {}

.places-card--near {
  width: 260px;
  margin-left: 8px;
  margin-bottom: 24px
}


.place-card__image-wrapper {
  margin-bottom: 9px
}

.place-card__image-wrapper--cities {}

.place-card__image-wrapper--favorites {
  min-width: 150px;
  margin-right: 16px;
  margin-bottom: 0
}

.place-card__image-wrapper--near {}


.place-card__info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.place-card__info--cities {}

.place-card__info--favorites {
  padding-top: 1px
}

.places-card__info--near {}
